.list.dot {
    list-style: none;
    padding-left: 10px;
    li {
      position: relative;
      line-height: 24px;
      margin-bottom: 25px;
      font-size: 16px;
      color: #000;
      &:before {
        content: "";
        position: absolute;
        left: -10px;
        top: 9px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #afafaf;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
}